    /* Typography import */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    /* Primary colors */
    --PaleBlue: hsl(225, 100%, 94%);
    --BrightBlue: hsl(245, 75%, 52%);
    /* Neutral colors */
    --VeryPaleBlue: hsl(225, 100%, 98%);
    --DesaturatedBlue: hsl(224, 23%, 55%);
    --DarkBlue: hsl(223, 47%, 23%);
    }

    /* Typography */
*{
    font-family: 'Red Hat Display', sans-serif;
    margin:0;
    padding:0;
}

    /* Layout */

body{
    background-image:url(/images/pattern-background-desktop.svg);
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container .hero{
    border-radius:25px;
    color:white;
    width: 25em;
    height: 35em;
    border:1px dotted black;
    }

.container img{
    border-radius: 25px 25px 0 0;
    width: 25em;
    }

.container .header{
    font-size:1.5em;
    font-weight: 900;
    color: #1F2E55;
    margin-top: 1em;
    text-align: center;
}

.container .description{
    font-size: 1em;
    font-weight: 500;
    text-align:center;
    padding: 1em 3em 0 3em;
    color: #717FA6;
}

.container .plan{
    background-color:#F7F9FF;
    width: 20em;
    height: 6em;
    margin: 1em auto auto auto;
    border-radius:20px;
}

.plan img{
    width: 3.5em;
    height:auto;
    margin: 1em 0 0 1em;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    }
.attribution a { 
    color: hsl(228, 45%, 44%); 
    }