    /* Typography import */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

    /* Typography */
*{
    font-family: 'Red Hat Display', sans-serif;
    margin:0;
    padding:0;
}

    /* Layout */

body{
    background-image:url(../images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    min-height:100vh;
    background-color: #e0e8ff;
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hero{
    border-radius:25px;
    color:white;
    width: 25em;
    height: 35em;
    background-color: white;
    }

.container img{
    border-radius: 25px 25px 0 0;
    width: 25em;
    }

.header{
    font-size:1.5em;
    font-weight: 900;
    color: #1F2E55;
    margin-top: 1em;
    text-align: center;
}

.description{
    font-size: 1em;
    font-weight: 500;
    text-align:center;
    padding: 1em 3em 0 3em;
    color: #717FA6;
}

.plan{
    display:flex;
    align-items:center;
    justify-content: left;
    background-color:#F7F9FF;
    width: 20em;
    height: 6em;
    margin: auto;
    border-radius:20px;
}

.plan img{
    width: 5em;
    height:5em;
    margin-left:1em;
}

.annual{
    color:#1F2E55;
    font-weight: 900;
}

.price{
    color:#717FA6;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    }

.attribution a { 
    color: hsl(228, 45%, 44%); 
    }